// FONT
$font-url-google: 'https://fonts.googleapis.com/css?family=Roboto';
$font-family--primary: 'Roboto', 'Helvitca Neue', Helvetica, Arial, sans-serif;
$font-family--secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;

//BASE COLORS
$white: #fff;
$black: #1a1a1a;
$grey: #808080;
$orange: #ec5f00;

// TEXT
$base__font-size: 18px;
$base__line: 35px;

// BREAKPOINTS
$brkpoint-sm: 1px;
$brkpoint-md: 768px;
$brkpoint-lg: 1024px;