// FONT
$font-url-google: 'https://fonts.googleapis.com/css?family=Roboto';
$font-family--primary: 'Roboto', 'Helvitca Neue', Helvetica, Arial, sans-serif;
$font-family--secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;

//BASE COLORS
$white: rgb(255, 255, 255);
$black: #1a1a1a;
$grey: #808080;
$light_blue: #00ead7;
$primary: rgb(1, 56, 56);

//OPACITY:
$primary-opac: rgba(1, 56, 56, .5);
$white-opac:rgba(255, 255, 255, .5);

// TEXT
$base__font-size: 18px;
$base__line: 35px;

// BREAKPOINTS
$brkpoint-sm: 1px;
$brkpoint-md: 768px;
$brkpoint-lg: 1024px;